* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#conteudo {
    width: 930px;
    /* height: 100vh; */
    margin: 0 auto;
    background-color: rgb(222, 238, 252);
}

#info {
    width: 100%;
    height: 40vh;
    background-color: cornsilk;
    display: flex;
}

#foto {
    width: 300px;
    background-color: honeydew;

    img {
        width: 180px;
        border-radius: 50%;
        margin: 60px;
    }
}

#texto {
    background-color: rgb(199, 255, 212);
    width: 630px;
    height: 40vh;
    padding: 40px;
    p {
        margin: 10px;
    }
}

#destaques {
    width: 100%;
    height: 22vh;
    background-color: rgb(255, 169, 169);
    display: flex;
    padding: 10px;
}

.destaque {
    padding: 20px 25px;
    text-align: center;
    img {
        width: 80px;
        border-radius: 50%;
    }
}

#feed {
    width: 100%;
    height: 40vh;
    background-color: lightpink;
    display: flex;
    flex-wrap: wrap;
    .foto {
        
    }
}

